.forecast_name {
    font-weight: 400;
    font-size: 24px;
    margin-left: 60px;
  }
  .forecast {
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 33px;
  }
  .forecast_item:hover {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
  }