@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Недоступно для анализа если все стили в одном файле */
body {
  margin: 0;
  background-image: url(/src/img/background.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

.current {
  margin-top: 64px;
  text-align: center;
  margin-bottom: 81px;
}

.current_city {
  font-size: 36px;
}

.current_temp {
  font-size: 96px;
  font-weight: 300;
}

.forecast_name {
  font-weight: 400;
  font-size: 24px;
  margin-left: 60px;
  margin-bottom: 33px;
}

.forecast_time {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 16px;
}

.icon_day {
  margin-left: 4px
}

.day_night {
  display: flex;
  flex-direction: row;
  margin-left: 16px;
}

.forecast_temp_day {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  padding-right: 16px;
  align-items: center;
}

.forecast_temp_night {
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.5;
}

.current_description {
  font-size: 24px;
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-left: 64px;
  margin-right: 64px;
}

.forecast_item {
  width: 160px;
  height: 168px;
  display: flex;
  flex-direction: column;
}

.temp_icon {
  display: flex;
  justify-content: space-between;
  padding: 0% 43%;
}

.details {
  font-weight: 400;
  font-size: 24px;
  margin-left: 60px;
  padding-top: 107px;
  padding-bottom: 8px;
}

.rectangles {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.rectangle {
  position: absolute;
  width: 560px;
  height: 1px;
  left: 60px;
  background: #FFFFFF;
  opacity: 0.25;
  border-radius: 8px;
}

.second_rectangle {
  width: 296px;
  height: 1px;
  background: #FFFFFF;
  opacity: 0.25;
  border-radius: 8px;
  margin-left: 700px;
}

.details_name {
  font-weight: 400;
  font-size: 14px;
}

/* будь внимателен у тебя дублирование стилей */
.details_col {
  display: flex; 
  flex-direction: row;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.details_row {
  display: flex;
  flex-direction: row;
  padding-bottom: 32px;
  justify-content: start;
  width: 700px;
  height: 180px;
  flex-wrap: wrap;
}

.details_item {
  font-size: 24px;
  margin-left: 60px;
  font-weight: 300;
  width: 105px;
  padding-right: 60px;
}

.details_item2 {
  font-size: 24px;
  font-weight: 300;
  padding-right: 136px;
  margin-bottom: 25px;
}

.details_name {
  padding-bottom: 16px;
}

.forecast_item:hover {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
}

.block_details {
  display: flex;
  flex-direction: row;
}